.photo {
    height: 440px;
    margin-top: 40px;
}

.photo-with-tip {
    width: min-content;
}

.tip {
    display: none;
    position: absolute;
    top: 0px; /* элемент на верху родительского элемента */
    width: 220px;
    text-align: center;
}

.photo-with-tip:hover .tip {
    display: block;
}
