.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

.photo {
    height: 440px;
    margin-top: 40px;
}

.photo-with-tip {
    width: min-content;
}

.tip {
    display: none;
    position: absolute;
    top: 0px; /* элемент на верху родительского элемента */
    width: 220px;
    text-align: center;
}

.photo-with-tip:hover .tip {
    display: block;
}

.hoverr {
    background-color: pink;
    padding: 10px 15px;
    margin: 55px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.hoverr::before {
    background-color: grey;
    content: ' ';
    display: none;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    bottom: 7px;
    transform: translate (-100%, calc(-100% -10px)) rotate(45deg);
}

.hoverr::after {
    content: 'Some text...';
    bottom: 130%;
    left: 15%;
    background-color: grey;
    position: absolute;
    width: 100px;
    height: 22px;
    display: none;

    transform: translate(-50%, calc(-100% -30px));
    border-radius: 10px;
}

.hoverr:hover::after,
.hoverr:hover::before {
    display: block;
}